.list {
    list-style: none;
    margin: 20px;
}

.list-item-left {
    background: #1552fac2;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid;
    color: #FFF!important;
    text-align: left!important;
    margin-bottom: 3px;
}

.list-item-right {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid;
    text-align: right!important;
    margin-bottom: 3px;
}